html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/*  TOP  */
.clear {
  overflow: hidden;
  *zoom: 1; }

body {
  background: #ffea00; }

#wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: url("../img/bg_raijin_img02.png") top right no-repeat; }

h1 {
  float: left;
  width: 422px;
  padding-left: 30px;
  padding-top: 10px; }

#main {
  width: 500px;
  padding-top: 200px;
  text-align: center;
  overflow: hidden; }

.bt-01 {
  margin-top: 40px;
  display: inline-block;
  padding: 20px 50px;
  border-radius: 3px;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  text-decoration: none;
  font-weight: bold; }
  .bt-01 a {
    color: #fff;
    text-decoration: none; }
    .bt-01 a:hover {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
      opacity: 0.5; }

/*  2-4  */
#question header h2 {
  float: right;
  padding-top: 30px;
  padding-right: 20px; }
#question header #main-question {
  width: 500px;
  padding-top: 140px;
  text-align: center;
  overflow: hidden;
  font-size: 20px; }
  #question header #main-question h3 {
    font-weight: bold;
    padding-bottom: 10px; }
  #question header #main-question p {
    padding-bottom: 20px; }

/*  5  */
.bg-result {
  background: url("../img/bg_raijin_result.png") top right no-repeat;
  height: 900px;
  background-position: 105% 15%; }

#result header h2 {
  float: right;
  padding-top: 30px;
  padding-right: 20px; }
#result header #main-question {
  width: 400px;
  padding-top: 150px;
  text-align: center;
  overflow: hidden;
  font-size: 20px; }
  #result header #main-question h3 {
    font-weight: bold;
    padding-bottom: 10px; }
  #result header #main-question p {
    padding-bottom: 10px;
    font-size: 35px;
    color: #ff0600;
    font-weight: bold; }
